<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/reports/org/drei/reports/Document.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.drei.reports.Document"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="bo automate_bi xxxxxxx secEnterprise &quot;BI026_ORS Daily Gross Adds&quot; edwp06 admin xxxxxxx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="reports"/>
</launchConfiguration>
